<% layout('layouts/app') %>

<div class="d-flex justify-content-center ">
    <form action="/register" method="post" class="w-25">
        <h1 class="mb-5 text-center">Register</h1>

        <!-- username input -->
        <div class="form-floating mb-2">
            <input type="text" name="username" id="username" class="form-control" placeholder="username" autofocus required/>
            <label for="username">Username</label>
        </div>

        <!-- Email input -->
        <div class="form-floating mb-2">
            <input type="email" name="email" id="email" class="form-control" placeholder="email" autofocus required/>
            <label for="email">Email</label>
        </div>

        <!-- Password input -->
        <div class="form-floating mb-3">
            <input type="password" name="password" id="password" class="form-control" 
                placeholder="password" autofocus required/>
            <label for="password">Password</label>
        </div>

        <!-- Login buttons -->
        <div class="text-center">
            <p>Already have an account?? <a href="/login">Login</a></p>
        </div>

        <!-- Submit button -->
        <div class="d-flex justify-content-end">
            <button type="submit" name="login" class="btn btn-secondary mb-3 col">Register</button>
        </div>
    </form>
</div>