<% layout('layouts/app') %>

<h1>Create Place</h1>
<form action="/places" method="post">
    <section>
        <label for="title">Title</label>
        <input type="text" name="title" id="title">
    </section>
    <section>
        <label for="price">Price</label>
        <input type="text" name="price" id="price">
    </section>
    <section>
        <label for="description">Deskripsi</label>
        <input type="text" name="description" id="description">
    </section>
    <section>
        <label for="location">Lokasi</label>
        <input type="text" name="location" id="location">
    </section>
    <button type="submit">Submit</button>
</form>